body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header, nav, #content {
    margin: 20px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

#images img {
    width: 600px;

    margin: 5px;
}

