<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Equalizer</title>
    <!--icon-->
    <link rel="icon" href="/static/icon.webp" type="image/webp">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <td><h1>Simple Equalizer</h1></td>
    </header>

    <nav>
        <ul>
            <li><a href="/full"><h2>Correction</h2></a></li>
            <li><a href="/limited"><h2>Correction for limited band</h2></a></li>
            <li><a href="https://github.com/ricky5932TW/SimpleEqualizer" target="_blank"><h2>GitHub Repository</h2></a></li>
        </ul>
    </nav>
</body>